.DS_Store
/.build
/.swift-cache
/Packages
/homebrew-tap
/lsusb-iokit-v*.tar.gz
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
__pycache__/
